.app{
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border: 2px blue solid;
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
  font-size: 20px;
}